/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hidden-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hidden-on-mobile {
        display: none;
    }

    .contact {
        line-height: 2rem;
    }

    .about {
        padding: 0px 0px;
    }

    .about__heading {
        margin-top: 0;
    }

    .slider-title {
        padding: 8px 0px;
        margin: 0;
    }

    .slider-content {
        margin: 0;
    }
}